# Directory to store variable data in.
DATA_DIR=data

# Directory to store threads in.
THREAD_DIR="$DATA_DIR/threads"

# This is prefixed before URLs that point to pages within bchan. It will always
# be followed by a /, so if you want thread.cgi to be at "/thread.cgi", then
# this should be left blank.
URL_ROOT=

# Path to static resources. Again, this is always followed by a /.
STATIC_URL=/static

# A separate URL path for the index.
INDEX_URL=/

# This is used anywhere a page refers to the name of the website.
SITE_TITLE=Bchan

# Max length of a post.
MAX_POST_LEN=3000

# Number of seconds between posts for an IP. Doesn't apply to mods and admins.
POST_COOLDOWN=300

# Use this to set the timezone to display post dates.
export TZ=America/Chicago
